{% extends "base.html" %}

{% block title %}{{ index  }}{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<section class="hero">
  <div class="hero__body">
    <h1 class="hero__body__container__title">
      {{ title  }}
    </h1>
    <h3 class="hero__body__container__subtitle">
      {{ subtitle  }}
    </h3>
  </div>
</section>
<section class="main">
  <div class="main__buttons">
    <button class="main__buttons__about circle_member"
	    type="button"
	    hx-get="/about_button"
	    hx-trigger="click"
	    hx-target="#global-home"
	    hx-swap="outerHTML"
	    onclick="window.location.href='/about'"
	    >
      About</button>      
    <button class="main__buttons__investment circle_member"
	    type="button"
	    hx-get="/investment_button"
	    hx-trigger="click"
	    hx-target="#global-home"
	    hx-swap="outerHTML"
	    onclick="window.location.href='/investment'"	  
	    >
      Investment</button>
    <button class="main__buttons__income circle_member"
	    type="button"
	    hx-get="/income_button"
	    hx-trigger="click"
	    hx-target="#global-home"
	    hx-swap="outerHTML"
	    onclick="window.location.href='/income'"	  
	    >
      Income</button>
    <button class="main__buttons__debt circle_member"
	    type="button"
	    hx-get="/debt_button"
	    hx-trigger="click"
	    hx-target="#global-home"
	    hx-swap="outerHTML"
	    onclick="window.location.href='/debt'"	  
	    >
      Debt</button>
    <button class="main__buttons__retirement circle_member"
	    type="button"
	    hx-get="/retirement_button"
	    hx-trigger="click"
	    hx-target="#global-home"
	    hx-swap="outerHTML"
	    onclick="window.location.href='/retirement'"	 
	    >
      Retirement</button>
    <button class="main__buttons__savings circle_member"
	    type="button"
	    hx-get="/savings_button"
	    hx-trigger="click"
	    hx-target="#global-home"
	    hx-swap="outerHTML"
	    onclick="window.location.href='/savings'"	  
	    >
      Savings</button>
    <button class="main__buttons__budget circle_member"
	    type="button"
	    hx-get="/budget_button"
	    hx-trigger="click"
	    hx-target="#global-home"
	    hx-swap="outerHTML"
	    onclick="window.location.href='/budget'"	 
	    >
      Budget</button>
    <button class="main__buttons__credit circle_member"
	    type="button"
	    hx-get="/credit_button"
	    hx-trigger="click"
	    hx-target="#global-home"
	    hx-swap="outerHTML"
	    onclick="window.location.href='/credit'"	  
	    >
      Credit</button>
  </div>
  <!-- <div class="main__circle"> -->
  <!-- </div> -->
</section>
{% call super() %}
{% endblock %}
